* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
body {
  margin: 10px;
}

button {
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 0.15s, background-color 0.15s, color 0.15s,
    box-shadow 0.15s;
}
.subscribe:hover {
  opacity: 0.7;
}
.subscribe:active {
  opacity: 0.4;
}
.join {
  background-color: white;
  color: rgb(10, 94, 221);
  width: 70px;
  border: 2px solid rgb(10, 94, 221);
}
.join:hover {
  background-color: rgb(10, 94, 221);
  color: white;
}
.join:active {
  opacity: 0.7;
}
.tweet {
  background-color: rgb(0, 174, 255);
  border-radius: 18px;
}
.tweet:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
